h1 {

    font-family: 'Yellowtail', cursive;
    font-size: 60pt;
    color: rgb(0, 0, 0);


}

p {

    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 12pt;
    color: rgb(0, 0, 0);
    margin: 10px;

}

h2 {

    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 60pt;
    margin-top: 20px;
    color: black;



}
.btn {

margin: 5px;

}
h3 {


    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30pt;
    color: black;


}

h4 {


    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40pt;
    margin: 20px;
    color: black;


}
